@model ProductVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">                    

                        <div class="img-big-wrap">
                            @if (Model.Product.ImagePath != null)
                            {
                                <img src="~/images/products/@Model.Product.ImagePath" class="img-sm">
                            }

                            else
                            {
                                <img src="~/images/products/nologo.png">
                            }

                        </div>
                     </article>
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">@Model.Product.ProductName</h2>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check">Stok Adeti :</i>@Model.Product.UnitsInStock </small>
                        <div class="mb-3">
                            <var class="price h4">@Model.Product.Price ₺</var>
                            
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md flex-grow-0">
                                <label>Adet</label>
                                <div class="sp-quantity">
                                    <div class="sp-minus fff">
                                        <a class="ddd" href="#">-</a>
                                    </div>
                                    <div class="sp-input">
                                        <input type="text" id="product" class="quntity-input" value="1" />
                                    </div>
                                    <div class="sp-plus fff">
                                        <a class="ddd" href="#">+</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row.// -->

                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.Product.ID" class="btn btn-outline-primary"> <span class="text">Sepete Ekle</span> <i class="fas fa-shopping-cart"></i>  </a>
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </div>
<!-- ============================ COMPONENT 1 END .// ================================= -->

@section scripts{
    <script>
    $('#AddToCart').click(function () {

        var path = '/Cart/AddToCart/' + this.id;
        $.ajax({
                type: 'GET',
                url: path                
        });
     });
    $(".ddd").on("click", function () {

    var $button = $(this);
    var oldValue = $button.closest('.sp-quantity').find("input.quntity-input").val();

    if ($button.text() == "+") {
        var newVal = parseFloat(oldValue) + 1;
    } else {
        // Don't allow decrementing below zero
        if (oldValue > 0) {
            var newVal = parseFloat(oldValue) - 1;
        } else {
            newVal = 0;
        }
        } $button.closest('.sp-quantity').find("input.quntity-input").val(newVal);
        $('product').val()== newVal;
});
  
    </script>
}
