@model AppUserVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">My account</h2>
    </div> <!-- container //  -->
</section>
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <ul class="list-group">
                    <a asp-action="Profile" asp-controller="Account" asp-area="Member"  class="btn btn-info">Profile</a>
                </ul>
            </aside> <!-- col.// -->
            <main class="col-md-9">
                <article class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Recent orders </h5>

                        <div class="row">
                            @if (Model.OrderDetails.Count > 0)
                            {
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-3">
                                            <div class="aside">
                                                @if (item.Products.ImagePath != null)
                                                {
                                                    <img src="~/images/products/@item.Products.ImagePath" class="img-sm">
                                                }

                                                else
                                                {
                                                    <img src="~/images/products/nologo.png">
                                                }
                                            </div>
                                            <figcaption class="info">
                                                <time class="text-muted"><i class="fa fa-calendar-alt"></i>@item.CreatedDate</time>
                                                <p>@item.Products.ProductName </p>
                                                <span class="text-warning">@item.Quantity</span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                }
                            }
                            <!-- col.// -->

                        </div> <!-- row.// -->

                        <a href="#" class="btn btn-outline-primary"> See all orders  </a>
                    </div> <!-- card-body .// -->
                </article>


            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>


