@model List<Product>
@{
    ViewData["Title"] = "ListProductsOfCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">
            @foreach (var product in Model)
            {
                <main class="col-md-9">
                    <!-- ============================ COMPONENT 1  ================================= -->
                    <article class="card card-product-list">
                        <div class="card-body">
                            <div class="row">
                                <aside class="col-sm-4">
                                    <a href="/@product.ID" class="img-wrap"><img src="~/images/products/@product.ImagePath"></a>
                                </aside> <!-- col.// -->
                                <div class="col-sm-8">
                                    <a href="#" class="btn-link float-right"> <i class="fa fa-heart"></i></a>
                                    <a href="~/@product.ID" class="title mt-2 h5">@product.ProductName</a>
                                    <div class="d-flex mb-3">
                                        <div class="price-wrap mr-4">
                                            <span class="price h5">@product.Price</span>
                                        </div> <!-- price-dewrap // -->
                                        @*<div class="rating-wrap">
                                                    <ul class="rating-stars">
                                                        <li style="width:80%" class="stars-active">
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                    </ul>
                                                    <small class="label-rating text-muted">7/10</small>
                                                </div>  rating-wrap.//
                                            </div>*@

                                        <ul class="list-bullet">
                                            <li>@product.Description</li>

                                        </ul>


                                        <div class="form-row">
                                            @*<div class="form-group col-md flex-grow-0">
                                                    <div class="input-group input-spinner">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                                        </div>
                                                        <input type="text" class="form-control" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-light" type="button" id="button-minus"> − </button>
                                                        </div>
                                                    </div>   input-spinner.//
                                                </div>  col.//*@
                                            <div class="form-group col-md">
                                                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.ID" class="btn btn-outline-primary"> <span class="text">Sepete Ekle</span> <i class="fas fa-shopping-cart"></i>  </a>

                                            </div> <!-- col.// -->
                                        </div> <!-- row.// -->

                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                            </div>
                        </div><!-- card-body .// -->
                    </article>                   
                </main> <!-- col.// -->
                <aside class="col-md-3">
                    <!-- COMPONENTS SIDEBAR -->
                    <output>
                        <div class="card">
                            <article class="filter-group">
                                <header class="card-header">
                                    <a href="#" data-toggle="collapse" data-target="#collapse_aside1">
                                        <i class="icon-control fa fa-chevron-down"></i>
                                        <h6 class="title">Kategoriler </h6>
                                    </a>
                                </header>
                                <div class="filter-content collapse show" id="collapse_aside1">
                                    <div class="card-body">
                                        <ul class="list-menu">
                                            <li><a href="#">Electronics </a></li>
                                            <li><a href="#">Watches  </a></li>
                                            <li><a href="#">Cinema </a></li>
                                            <li><a href="#">Clothes </a></li>
                                            <li><a href="#">Home items </a></li>
                                        </ul>

                                    </div> <!-- card-body.// -->
                                </div>
                            </article> <!-- filter-group  .// -->
                                                         <!-- filter-group  .// -->
                        </div> <!-- card.// -->
                    </output>
                    <!-- COMPONENTS SIDEBAR END .// -->
                </aside>
            }

        </div> <!-- row.// -->



        <br> <br> <br> <br>

    </div> <!-- container .//  -->
</section>

@section scripts{
    <script>
    $('#addToCart').click(function () {

        var path = '/Cart/AddToCart/' + this.id;
        $.ajax({
                type: 'GET',
                url: path,
                success: function (response) {
                    swal("Başarılı!", "Ürün sepete eklendi", "success");
                }
        });
     });


    </script>
}