@model Supplier
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_ManagerLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Tedarikçi Ekle</h2>
                        </div>
                        <div class="col-sm-6">
                            <a asp-action="Index" asp-controller="Supplier" class="btn btn-success float-md-right">Tedarikçi Listesi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Supplier" method="post">
                    <input type="hidden" asp-for="@Model.ID" />
                    <div class="form-group">
                        <label>Tedarikçi Adı</label>
                        <input asp-for="CompanyName" type="text" class="form-control" placeholder="Tedarikçi Adı" />
                    </div>
                    <div class="form-group">
                        <label>Tedarikçi Açıklama</label>
                        <input asp-for="Description" type="text" class="form-control" placeholder="Açıklama" />
                    </div>                   
                    <button type="submit" class="btn btn-success">Tedarikçi Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>